body {
    padding-top: 60px;
}

.product-description {
    text-align: justify;
}

.product {
    margin-bottom: 15px;
}

.product-image, .product-link {
    margin-bottom: 7px;
}

.product-image {
    height: 130px;
    vertical-align: middle;
    text-align: center;
}

.product-link {
    font-size: 18px;
    text-align: center;
}


.product-price-on-category,.product-price-on-product {
    padding-top: 6px;
    font-size: 28px;
    font-weight: bold;
    color: #080;
    margin-left: 0;
}

.product-price-on-category {
    text-align: right;
}

.product-price-on-product {
    text-align: left;
    margin-bottom: 10px;
}

.product-buttons form {
    text-align: left;
}