<html xmlns:jsp="http://java.sun.com/JSP/Page"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:tiles="http://tiles.apache.org/tags-tiles"
      xmlns:spring="http://www.springframework.org/tags">
<jsp:output doctype-root-element="HTML" doctype-system="about:legacy-compat"/>
<jsp:directive.page contentType="text/html;charset=UTF-8"/>
<jsp:directive.page pageEncoding="UTF-8"/>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=8"/>

    <spring:url value="/resources/js/jquery-1.8.2.min.js" var="jquery_js_url"/>
    <script src="${jquery_js_url}" type="text/javascript"><jsp:text /></script>

    <spring:url value="/resources/bootstrap/css/bootstrap.min.css" var="url_bootstrap_css"/>
    <spring:url value="/resources/css/styles.css" var="url_styles_css"/>

    <link rel="stylesheet" type="text/css" media="screen" href="${url_bootstrap_css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="${url_styles_css}"/>

    <spring:url value="/resources/images/favicon.ico" var="url_favicon"/>
    <link rel="shortcut icon" href="${url_favicon}" type="image/x-icon"/>

    <title>
        <c:if test="${not empty title}">
            ${title} -
        </c:if>
        <spring:message code="application_name"/>
    </title>
</head>
<body>

<tiles:insertAttribute name="header" ignore="true"/>
<tiles:insertAttribute name="menu" ignore="true"/>

<div class="container">
    <div class="row">
        <tiles:insertAttribute name="sidebar" ignore="true"/>
        <tiles:insertAttribute name="body"/>
    </div>
</div>

<tiles:insertAttribute name="footer" ignore="true"/>

<spring:url value="/resources/bootstrap/js/bootstrap.min.js" var="bootstrap_js_url"/>
<script src="${bootstrap_js_url}" type="text/javascript"><jsp:text /></script>
</body>
</html>