<div id="header" class="navbar navbar-inverse navbar-fixed-top"
     xmlns:jsp="http://java.sun.com/JSP/Page"
     xmlns:spring="http://www.springframework.org/tags"
     version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8" />
    <jsp:output omit-xml-declaration="yes" />
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#"><spring:message code="application_name"/></a>
        </div>
    </div>

</div>